<div class="containe">
    <div class="row ">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Add Item
                </div>
                <ul class="list-group list-group-flush">
                    <button #btn1 type="button" class="btn btn-success">Success</button>
                  
                </ul>
              </div>
              
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Featured
                </div>
                <ul id="ul-container" class="list-group list-group-flush">
                  
                  
                </ul>
              </div>
              
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Featured
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  
                </ul>
              </div>
              
        </div>
    </div>
</div>