<div class="container">
    <div class="row">
    <div class="col-md-3">

        <a routerLink="from-event" class="btn btn-info btn-large">From-Event</a>

    </div>
    <div class="col-md-3">

        <a routerLink="interval" class="btn btn-info btn-large">Interval</a>

    </div>

    <div class="col-md-3">

        <a routerLink="of-from" class="btn btn-info btn-large">Of-From</a>

    </div>

    <div class="col-md-3">

        <a routerLink="to-array" class="btn btn-info btn-large">To-Array</a>

    </div>

    <div class="col-md-3">

        <a routerLink="custom" class="btn btn-info btn-large">Custom Observable</a>

    </div>
</div>
</div>