<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Add Item
                </div>
                <ul id="ul-container" class="list-group list-group-flush flex-wrap">
                    
                  
                </ul>
              </div>

        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Add Item
                </div>
                <ul id="ul-container2" class="list-group list-group-flush">
                    
                  
                </ul>
              </div>

        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Add Item
                </div>
                <ul id="ul-container3" class="list-group list-group-flush ">
                    
                  
                </ul>
              </div>
            
        </div>
    </div>
</div>