<h1> Promise, Async/Await</h1>

<div class="container">
    <div class="my-3">
<div class="row">
    <div class="col-md-4">
        <strong> Example 1: with promise</strong>
        <hr>
        <button type="button" (click)="withPromise()" class="btn btn-primary">Try it</button>
        
        <br/>
        <hr>
        <div #result1 class="result-box text-break">Not started!</div>
    </div>

    <div class="col-md-4">
        <strong> Example 2: with async/await</strong>
        <hr>
        <button type="button" (click)="withAsync()" class="btn btn-primary">Try it</button>
        
        <br/>
        <hr>
        <div #result2 class="result-box text-break">Not started!</div>
    </div>

    <div class="col-md-4">
        <strong> Example 1: with Fetch</strong>
        <hr>
        <button type="button" (click)="withFetch()" class="btn btn-primary">Try it</button>
        
        <br/>
        <hr>
        <div #result3 class="result-box text-break">Not started!</div>
    </div>
</div>
</div>
</div>