<div class="container">
    <div class="row">
        <div class="col-md-3">
            <strong>Of - Example 1 : Observable from String</strong>
            <br/>
            <hr>
            <ul id="ul-container1"></ul>
        </div>

        <div class="col-md-3">
            <strong>Of - Example 2 : Observable from Object</strong>
            <br/>
            <hr>
            <ul id="ul-container1"></ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <strong>From - Example 1 : Observable from String</strong>
            <br/>
            <hr>
            <ul id="ul-container3"></ul>
        </div>

        <div class="col-md-3">
            <strong>From - Example 2 : Observable from Promise</strong>
            <br/>
            <hr>
            <ul id="ul-container4"></ul>
        </div>

        <div class="col-md-3">
            <strong>From - Example 3 : Observable from pati String</strong>
            <br/>
            <hr>
            <ul id="ul-container5"></ul>
        </div>
    </div>
</div>
